<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Users</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.totalUsers %></h5>
                </div>
            </div>
        </div>
        <!-- Second Column: Approved Users -->
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Approved Users</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.approvedUsers %></h5>
                    <!-- Displays the total number of approved users. -->
                </div>
            </div>
        </div>

        <!-- Third Column: Approved Researchers -->
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Approved Researchers</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.approvedResearchers %></h5>
                    <!-- Displays the total number of approved researchers. -->
                </div>
            </div>
        </div>

        <!-- Fourth Column: Approved Editors -->
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Approved Editors</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.approvedEditors %></h5>
                    <!-- Displays the total number of approved editors. -->
                </div>
            </div>
        </div>

        <!-- Fifth Column: Pending Researchers -->
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Pending Researchers</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.pendingResearchers %></h5>
                    <!-- Displays the number of pending researchers. -->
                </div>
            </div>
        </div>

        <!-- Sixth Column: Pending Editors -->
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Pending Editors</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.pendingEditors %></h5>
                    <!-- Displays the number of pending editors. -->
                </div>
            </div>
        </div>
    </div>
</div>